<h2>Add a new restaurant in the form below:</h2>

<form action="list" method="post">
  <label for="title">Name</label>
  <input type="text" name="restaurant[name]">
  <label for="address">Address</label>
  <input type="text" name="restaurant[address]">
  <label for="rating">Phone Number</label>
  <input type="text" name="restaurant[phone_number]">
  <label for="rating">Category</label>
  <input type="text" name="restaurant[category]">
  <input type="submit">
</form>
